html {
    font-size: 22px;
    text-align: center;
    font-style: italic;
  }
  body {
    background-color: palevioletred;
    color: whitesmoke;
  }
  
  table, th, td {
    border: 1px solid;
    padding: 5px;
  }
  tbody tr:nth-child(odd) {
    background-color: palevioletred;
  }

  